body {
  font-family: 'Poppins', sans-serif;
}
footer {
  background-image: linear-gradient(to right, #485563, #29323c);
  color: #ffffff;
  text-align: center;
  padding: 10px 0px;
}
footer > a {
  color: #ffffff;
}
footer > a :hover {
  transition-duration: 0.4s;
  color: #1c717d;
}
div > h2 {
  color: #1c3b4f;
  font-size: 4vh;
  font-weight: bold;
}
.custom-nav {
  background-image: linear-gradient(to right, #136a8a, #267871);
}
.custom-jumbo {
  background-image: linear-gradient(to right, #136a8a, #267871);
  color: #ffffff;
  border-radius: 0px;
}
.custom-jumbo > .title {
  font-size: 8vh;
  text-align: center;
  font-weight: 700;
}
.custom-jumbo > .sub {
  font-size: 2vh;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}
#why {
  background-image: linear-gradient(to right, #136a8a, #267871);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #ffffff;
  padding: 30px 10px;
  margin: 25px 0px;
}
#why > h2 {
  color: #ffffff;
}
div.gallery {
  min-height: 360px;
  width: 100%;
  padding: 20px;
  border: 2px solid gainsboro;
  float: left;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transition-duration: 0.4s;
  box-shadow: 2px 3px #eaf8fa;
  margin: 25px 5px;
}
div.gallery:hover {
  border: 2px solid #1c717d;
  padding: 17px;
  cursor: pointer;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
  border-top: 2px dashed gainsboro;
  margin-top: 20px;
}
input,
textarea {
  border: 1px solid transparent;
  outline: none;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1c717d;
}
.custom-button:hover {
  transition-duration: 0.4s;
  color: #ffffff;
  background-color: #1c717d;
  cursor: pointer;
}
.adjust::before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
  pointer-events: none;
}
.custom-button-links {
  padding: 10px 20px;
  border-radius: 15px;
  color: #ffffff;
  background-color: #1c717d;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 5px 0px;
  display: inline-block;
}
.custom-button-links:hover {
  text-decoration: none;
  transition-duration: 0.4s;
  color: #ffffff;
  border-radius: 25px;
  cursor: pointer;
}
